{% extends 'base.html' %}

{% block content %}
<div>
    <h2>Update Project</h2>
    <main>
        <form method="POST">
            {% csrf_token %}
            Name:<br> <p>{{ form.Name }}<br></p>
            Description:<br> <p>{{ form.Description }}<br></p>
            <input type="submit" value="Update">
        </form>
        <a href="{% url 'project_delete' project.pk %}"><button style="background-color: red;">Delete Project</button></a>
        <a href="http://127.0.0.1:8000/"><button>Go back to the task list</button></a>
    </main>
</div>
{% endblock content %}

